---
import Layout from "../layouts/Layout.astro";
import Header from "../components/share/Header.astro";
---
<Layout>
    <Header/>
    <div id="container">
        <h1>Contact</h1>
    </div>
</Layout>