---

import Layout from "../layouts/Layout.astro";
import Header from "../components/share/Header.astro";
import '../styles/hotel.css';
---
<Layout>
    <Header/>
    <div id="container">
        <div class="wrapper">
  <h1>PHILIPPINES</h1>
  <div class="image i1"></div>
  <div class="details"><h1><em>Boracay Island</em></h1>
  <h2>Surfer's Home</h2>
  <p>3 Days - 2 Nights</p></div>
  <h1>£750</h1>
</div>
    </div>
</Layout>