---
import Layout from '../layouts/Layout.astro';

import Header from '../components/share/Header.astro';
import Hero from '../components/home/Hero.astro';
import Footer from '../components/share/Footer.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<Header/>
	<div id="container">
		<Hero/>
	</div>
	<Footer/>
</Layout>